<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Index Page</title>
</head>
<body>
    <h1><%= message || "All Books" %></h1> 
    <ul>
        <% books.forEach(book => { %>
            <li>
                <a href="/books/<%= book._id %>"><%= book.title %></a> 
            </li>
        <% }); %>
    </ul>
    <a href="/">Go Back to Homepage</a> | <a href="/books/new">Add new Book</a>


  
    </section>
</body>
</html>
